@import "../default/layout.css";
@import "../newlayout/global.css";
@import "equip.css";

#arena{
    width: 94%;
    height: calc(95% + 20px);
    left: 3%;
}
#control{
    width: calc(5000% / 47 - 240px);
    left:calc(-150% / 47 + 120px);
    bottom:150px;
    height: 40px;
}
/*#control>div{
    height: 40px;
    font-family: 'xinwei';
    font-size: 30px;
    line-height: 34px;
}*/
#arena:not(.chess)>#me,
#arena:not(.chess)>#mebg{
    bottom:30px;
    width: calc(5000% / 47);
    left:calc(-150% / 47);
    top:auto;
    border-radius:0 !important;
    height:120px;
}
#arena:not(.chess) #handcards1{
    height:120px;
    padding:0;
    top:calc(100% - 120px);
}
#arena:not(.chess):not(.single-handcard) #handcards1{
    width:calc(100% - 240px);
    left:120px;
}
#handcards2{
    display:none;
}
/*#arena:not(.chess) .player[data-position='0']>.playerjiu{
    width: 120px;
    border-radius: 0px;
}*/
#arena:not(.chess) .player[data-position='0'].playerfocus{
    transform: scale(1);
}
#arena:not(.chess) .player[data-position='0']>.equips>div{
    width: 45px;
    height: 45px;
    margin: 0;
    border-radius: 4px;
    position: absolute;
}
#arena:not(.chess) .player[data-position='0']>.equips>.equip5{
    border-radius: 45px;
}
#arena:not(.chess) .player[data-position='0']{
    width: calc(5000% / 47);
    left:calc(-150% / 47);
    height: 120px;
    top: calc(100% - 150px);
    background: none !important;
    border:none !important;
    border-radius: 0 !important;
    pointer-events: none;
}

#arena:not(.chess) .player[data-position='0'].linked>.damage{
	transform:scale(0.7) rotate(0);
}
#arena:not(.chess) .player[data-position='0'].linked>.damage.damageadded{
	transform:scale(1) rotate(0);
}
#arena:not(.chess) .player[data-position='0']:not(.selected):not(.selectedx):not(.selectable):not(.glow){
    box-shadow: none !important;
}
#arena:not(.chess) .player[data-position='0']:not(.minskin)>.avatar,
#arena:not(.chess) .player[data-position='0']:not(.minskin)>.avatar2,
#arena:not(.chess) .player[data-position='0']:not(.minskin)>.equips{
    width:120px;
    height:120px;
    border-radius:0px !important;
    top:0;
    left:0;
    transition-property: opacity,transform;
    transition-duration: 0.5s;
    pointer-events: auto;
}
#arena:not(.chess) .player[data-position='0']:not(.minskin)>.identity{
    pointer-events: auto;
}
#arena:not(.chess) .player[data-position='0']:not(.minskin)>.judges,
#arena:not(.chess) .player[data-position='0']:not(.minskin)>.marks{
    pointer-events: auto;
}
#arena:not(.chess) .player[data-position='0']:not(.minskin)>.equips{
    left:calc(100% - 120px);
}
#arena:not(.chess) .player[data-position='0']>.equips>.equip1{top: 10px;left: 10px;}
#arena:not(.chess) .player[data-position='0']>.equips>.equip2{top: 10px;right: 10px;}
#arena:not(.chess) .player[data-position='0']>.equips>.equip3{bottom: 10px;left: 10px;}
#arena:not(.chess) .player[data-position='0']>.equips>.equip4{bottom: 10px;right: 10px;}

#arena:not(.chess) .player[data-position='0']>.name,
#arena:not(.chess) .player[data-position='0'].linked>.name{
    left:4px;
    top:10px;
    transform: none;
}
#arena:not(.chess) .player[data-position='0']>.nameol{
    display: none;
}
#arena:not(.chess) .player[data-position='0']>.name.name2,
#arena:not(.chess) .player[data-position='0'].linked>.name.name2{
    left:69px;
}
#arena:not(.chess) .player[data-position='0']>.identity{
    left: 106px;
    top: -8px;
}
#arena:not(.chess) .player[data-position='0']>.damage{
    width: 120px;
}
#arena:not(.chess) .player[data-position='0'].target{
    transform:none !important;
}
#arena:not(.chess) .player[data-position='0']>.hp:not(.actcount){
    bottom: 5px;
    left: 100px;
}
#arena:not(.chess) .player[data-position='0']:not(.minskin)>.count{
    bottom:10px;
    border-radius: 0 2px 2px 0;
    left:-1px;
    z-index: 3;
    text-align: right;
}
#arena:not(.chess).slim_player .player[data-position='0']:not(.minskin)>.count{
    border-radius: 0 2px 2px 0;
    left:-1px;
    z-index: 3;
    text-align: right;
}
#arena:not(.chess) .player[data-position='0']>.hp.actcount{
    top:10px;
    left:2px;
}
#arena:not(.chess) .player[data-position='0']:not(.minskin) .wunature{
	top:84px;
}

#arena:not(.chess) .player.fullskin2[data-position='0']:not(.minskin)>.avatar,
#arena:not(.chess) .player.fullskin2[data-position='0']:not(.minskin)>.avatar2{
	width:60px;
	background-position:50%;
}
#arena:not(.chess) .player.fullskin2[data-position='0']:not(.minskin)>.avatar2{
	left:60px;
    top:0;
	z-index:1;
}

.popup[data-position='0']{
    top:calc(100% - 187px);
    left:calc(-150% / 47 + 15px);
}

#arena:not(.chess) .player[data-position='0']>.judges{
    transform: rotate(-90deg);
    left: -12px;
    top: -5px;
    transform-origin: top center;
}
#arena:not(.chess) .player[data-position='0']>.marks {
    transform: rotate(90deg);
    right: -12px;
    left:auto;
    top: -5px;
    transform-origin: top center;
}
#arena:not(.chess) .player[data-position='0']>.judges>.card{
    transform: rotate(90deg);
}
#arena:not(.chess) .player[data-position='0']>.marks>div{
    transform: rotate(-90deg);
}

#arena:not(.chess) .player[data-position='0'].linked{
    transform: none;
}
#arena:not(.chess) .player[data-position='0'].linked .avatar,
#arena:not(.chess) .player[data-position='0'].linked .avatar2{
    transform: rotate(-90deg);
}
#arena:not(.chess) .player[data-position='0'].fullskin2 .avatar{
    transform-origin: right center;
}
#arena:not(.chess) .player[data-position='0'].fullskin2 .avatar2{
    transform-origin: left center;
}

.dialog{
	height:calc(100% - 370px);
    bottom:170px;
}
.dialog.fullheight {
    height: calc(100% - 123px) !important;
    top: 40px !important;
}

#me>.fakeme.avatar{
    width:120px;
    height:120px;
    border-radius:0px;
    top:0;
    left:0;
    background-size:cover;
}

@media screen and (min-height: 800px) and (orientation:landscape)  {
    /*#arena{height: 780px;top: calc(50% - 350px);}
    #arena:not(.chess)>#me,
    #arena:not(.chess)>#mebg{
        bottom:30px;
    }
	#arena:not(.chess) .player[data-position='0']{
        top: calc(100% - 150px);
    }*/

    #arena{height: calc(95% + 20px);top: calc(5% + 10px);}
}
