html{
	color: rgba(0,0,0,0.3);
	background: url('block.png');
}
#system>div>div,#me,.control,.player,.popup,.card,.avatar,.avatar2,.button{
	border-radius: 8px;
	border:1px solid rgba(0,0,0,0.2);
}
.avatar,.avatar2,.button.character{
	border:none;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 3px 10px;
}
#paused{
	background-color: rgba(0,0,0,0.5);
}
.control,#system>div>div{
	background: white;
}
.player.selectable,.glow{
	box-shadow:0 1px 10px rgba(0,133,255,0.3);
}
.selected{
	box-shadow:0 1px 10px rgba(255,0,0,0.3) !important;
}