audio/*.TXT
image/*.TXT
!extension/boss
!extension/cardpile
!extension/coin
!extension/wuxing
!node_modules/@types
!node_modules/noname-typings
!node_modules/options
!node_modules/ultron
!node_modules/undici-types
!node_modules/ws
._*
.DS_Store
.DS_Store?
.idea
.Spotlight-V100
.Trashes
.vscode
app
app.html
ehthumbs.db
extension
Home
jsconfig.json
localStorage.json
main.js
node_modules
noname.ico
package-lock.json
package.json
Thumbs.db
bun.lockb
deno.lock
game/*.zip  

downloadExtension.html
update.html
update.js
*.txt
*.pdf