html{
	color: rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.15);
}
#system>div>div,#me,.control,.player,.popup,.card,.avatar,.avatar2,.button{
	background-color: rgba(255,255,255,0.5);
}
#paused{
	background-color: rgba(0,0,0,0.5);
}
.player.selectable,.glow{
	-webkit-transform: scale(1.05)
}
.selected,.target{
	-webkit-transform: rotate(-3deg) !important;
}
.hp>div{box-shadow:0px 1px 1px rgba(0,0,0,0.1) !important;}
.player,.button.character{text-shadow: rgba(0,0,0,0.3) 0 0 2px !important;}
.identity{border:1px solid rgba(0, 0, 0, 0.1) !important;}