html{
	color: rgba(0,0,0,0.3);
	background: url('p_4.png'),url('bg_1.jpg');
}
#system>div>div,#me,.control,.player,.popup,.card,.avatar,.avatar2,.button{
	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.2);
}
#me,.player,#arena>.card,.p0>.equips>div,#system>div>div,.control,.popup{
	background: rgba(255,255,255,0.3);
}
.control{
	background: rgba(255,255,255,0.5);
}
.card,.player.p0{
	background: url('p_4.png'),url('bg_1.jpg');
}
.player.selectable,.glow{
	box-shadow: inset rgba(0, 133, 255, 0.3) 0 0 15px;
}
.selected{
	box-shadow: inset rgba(255, 0, 0, 0.3) 0 0 15px !important;
}
