html{
	color: white;
	text-shadow: black 0 0 2px;
	background-image: url('blur.jpg');
	background-size: cover;
}
#system>div>div,#me,.control,.player,.popup,.card,.avatar,.avatar2,.button{
	box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 5px,rgba(255,255,255,0.1) 2px 3px 5px inset,rgba(255,255,255,0.25) 0 0 5px inset;
	border-radius: 8px;
	background-image: url('glow.png');
	background-size: cover;
}
#paused{
	background-color: rgba(0,0,0,0.5);
}
.player.selectable,.glow{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 133, 255, 0.8) 0 0 15px;
}
.selected{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(255, 0, 0, 0.8) 0 0 15px !important;
}
.card{
	color: white !important;
}
.fire{
	color: rgb(255,119,63) !important;
}
.thunder{
	color: rgb(117,186,255) !important;
}
