html{
	color: white;
	text-shadow: black 0 0 2px;
	background: url('grid.png'),linear-gradient(#dddddd, #ffffff);
}
#system>div>div,#me,.control,.player,.popup,.card,.avatar,.avatar2,.button{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 3px 10px;
	background-image: linear-gradient(#6c7989, #535b65);
	border-radius: 8px;
}
.player,#me{
	background:url('dock.png') bottom repeat-x,linear-gradient(#6c7989, #535b65) fixed;
}
.card{
	background: url('grid.png'),linear-gradient(#ffffff, #eeeeee) !important;
}
#paused{
	background-color: rgba(0,0,0,0.5);
}
.player.selectable,.glow{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 133, 255, 0.8) 0 0 15px;
}
.selected{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(255, 0, 0, 0.8) 0 0 15px !important;
}
.card{
	background-image: linear-gradient(#6c7989, #535b65);
}