.menu>.button.character {
	border-radius: 0;
}

.menu>.button.character>.name {
	left: auto;
    top: auto !important;
    right: 0;
	bottom: 0;
    width: auto;
    height: auto;
}

.menu>.button.character>.fakeplayer {
	width: 26px;
    height: 32px;
}

.menu>.button.character>.fakeplayer:nth-child(2) {
	left: 0;
    top: auto;
    bottom: 0;
}


/* 手杀 */
.menu>.button.character.long2>.fakeplayer:nth-child(3) {
	left: 0;
    top: 5%;
}

.menu>.button.character.long2>.fakeplayer:nth-child(4) {
	left: calc(50% - 13px);
    top: 0;
    bottom: 0;
	
}

.menu>.button.character.long2>.fakeplayer:nth-child(5) {
	right: 0;
    top: 5%;
}

/* 新版 */
.menu>.button.character.nova>.fakeplayer:nth-child(3) {
	left: 0;
    top: 15%;
}

.menu>.button.character.nova>.fakeplayer:nth-child(4) {
	left: calc(50% - 13px);
    top: 0;
    bottom: 0;
	
}

.menu>.button.character.nova>.fakeplayer:nth-child(5) {
	right: 0;
    top: 15%;
}





#arena[data-layout='nova']:not(*[data-player_height=''])>.player {
    width: 120px;
    height: 180px;
}

/*
#arena[data-layout='nova']:not(*[data-player_height=''])>.player[data-position='0']:not(.miniskin) {
    left: 0;
    top: auto;
    right: auto;
    bottom: 0;
}
/*

/*8人座*/
#arena[data-layout='nova'][data-number='8']>.player[data-position='1'] {
    left: auto;
    top: 18%;
    right: 0;
}
#arena[data-layout='nova'][data-number='8']>.player[data-position='2'] {
    left: auto;
    top: 0;
    right: calc(20% - 60px);
}
#arena[data-layout='nova'][data-number='8']>.player[data-position='3'] {
    left: auto;
    top: 0;
    right: calc(35% - 60px);
}
#arena[data-layout='nova'][data-number='8']>.player[data-position='4'] {
    left: calc(50% - 60px);
    top: 0;
}
#arena[data-layout='nova'][data-number='8']>.player[data-position='5'] {
    left: calc(35% - 60px);
    top: 0;
}
#arena[data-layout='nova'][data-number='8']>.player[data-position='6'] {
    left: calc(20% - 60px);
    top: 0;
}
#arena[data-layout='nova'][data-number='8']>.player[data-position='7'] {
    left: 0;
    top: 18%;
}

/*7人座*/
#arena[data-layout='nova'][data-number='7']>.player[data-position='1'] {
    left: auto;
    top: 18%;
    right: 0;
}
#arena[data-layout='nova'][data-number='7']>.player[data-position='2'] {
    left: auto;
    top: 0;
    right: calc(23.25% - 60px);
}
#arena[data-layout='nova'][data-number='7']>.player[data-position='3'] {
    left: auto;
    top: 0;
    right: calc(41.25% - 60px);
}
#arena[data-layout='nova'][data-number='7']>.player[data-position='4'] {
    left: calc(41.25% - 60px);
    top: 0;
}
#arena[data-layout='nova'][data-number='7']>.player[data-position='5'] {
    left: calc(23.25% - 60px);
    top: 0;
}
#arena[data-layout='nova'][data-number='7']>.player[data-position='6'] {
    left: 0;
    top: 18%;
}

/*6人座*/
#arena[data-layout='nova'][data-number='6']>.player[data-position='1'] {
    left: auto;
    top: 18%;
    right: 0;
}
#arena[data-layout='nova'][data-number='6']>.player[data-position='2'] {
    left: auto;
    top: 0;
    right: calc(27.5% - 60px);
}
#arena[data-layout='nova'][data-number='6']>.player[data-position='3'] {
    left: calc(50% - 60px);
    top: 0;
}
#arena[data-layout='nova'][data-number='6']>.player[data-position='4'] {
    left: calc(27.5% - 60px);
    top: 0;
}
#arena[data-layout='nova'][data-number='6']>.player[data-position='5'] {
    left: 0;
    top: 18%;
}


/*5人座*/
#arena[data-layout='nova'][data-number='5']>.player[data-position='1'] {
    left: auto;
    top: 18%;
    right: 0;
}
#arena[data-layout='nova'][data-number='5']>.player[data-position='2'] {
    left: auto;
    top: 0;
    right: calc(35% - 60px);
}
#arena[data-layout='nova'][data-number='5']>.player[data-position='3'] {
    left: calc(35% - 60px);
    top: 0;
}
#arena[data-layout='nova'][data-number='5']>.player[data-position='4'] {
    left: 0;
    top: 18%;
}

/*4人座*/
#arena[data-layout='nova'][data-number='4']>.player[data-position='1'] {
    left: auto;
    top: 18%;
    right: 0;
}
#arena[data-layout='nova'][data-number='4']>.player[data-position='2'] {
    left: calc(50% - 60px);
    top: 0;
}
#arena[data-layout='nova'][data-number='4']>.player[data-position='3'] {
    left: 0;
    top: 18%;
}

/*3人座*/
#arena[data-layout='nova'][data-number='3']>.player[data-position='1'] {
    left: auto;
    top: 0;
    right: calc(32.5% - 60px);
}
#arena[data-layout='nova'][data-number='3']>.player[data-position='2'] {
    left: calc(32.5% - 60px);
    top: 0;
}

/*2人座*/
#arena[data-layout='nova'][data-number='2']>.player[data-position='1'] {
    left: calc(50% - 60px);
    top: 0;
}
