html{
	color: white;
	text-shadow: black 0 0 2px;
	background: url('jeans.jpg');
}
#system>div>div,#mebg,.control,.player,.popup,.card,.avatar,.avatar2,.button{
	box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
	border-radius: 8px;
	border:1px dashed white;
	background:none;
}
.card{
	/*background: url('jeans.jpg');*/
}
.avatar,.avatar2,.button.character{
	border:none;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 3px 10px;
}
#paused{
	background-color: rgba(0,0,0,0.5);
}
.player.selectable{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 133, 255, 0.8) 0 0 15px;
}
.glow{
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px, rgba(0, 133, 255, 0.8) 0 0 15px !important;
}
.selected{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(255, 0, 0, 0.8) 0 0 15px !important;
}
.card{
	color: white;
}
.fire{
	color: rgb(255,119,63);
}
.thunder{
	color: rgb(117,186,255);
}
.poison{
	color: rgb(104,221,127);
}
.brown{
	color: rgb(196,157,58);
}
.brown{
	color: rgb(195,161,223);
}
