/* addNewRow的对话框的样式 */
.dialog.addNewRow {
    --bgColor: #2f2f3557;
    width: 80%;
    /* background: var(--bgColor); */
    left: 10%;
    border-radius: 10px;
}

.dialog.addNewRow .row-container {
    display: grid;
    height: fit-content;
    margin: 10px auto !important;
    width: 95%;
}

.dialog.addNewRow .row-container>* {
    position: relative;
}

.dialog.addNewRow .item-container>.caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: initial;
    flex-wrap: wrap;
    align-content: center
}



.dialog.addNewRow .item-container {
    
    width: 90%;
    height: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 3px 3px;
    overflow: auto;
    max-width: 90%;
}

.dialog.addNewRow .item-container>* {
    flex-shrink: 0;
    position: relative;
}

.dialog.addNewRow .item-container>.item:not(:first-of-type) {
    margin-left: var(--ml, 3px);
}

.dialog.addNewRow:not(.fullheight) {
    top: 10% !important;
    max-height: 55%;
}

.dialog.addNewRow>.content-container {
    border-radius: 10px;
    /* background-color: var(--bgColor); */
}


/* 自由选将搜索框中文字的样式 */
.searcher.caption>input::placeholder {
    font-weight: lighter;
    color: rgba(126, 114, 114, 0.724)
}