html{
	color: white;
	text-shadow: black 1px 1px 1px;
	background: #25262a;
}
#system>div>div,.control,.player,.popup,.avatar,.avatar2,.button{
	background-color: #35373a;
}
#me{
	background-color: #2b2d30;
}
.card{
	background-color: #424346;
}
#paused{
	background-color: rgba(0,0,0,0.5);
}
.player.selectable,.glow{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 133, 255, 0.8) 0 0 15px;
}
.selected{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(255, 0, 0, 0.8) 0 0 15px !important;
}