.card:empty,.card.infohidden{
    background: url('image/feicheng.png');
    background-size: 100% 100%;
}
.card.infohidden:not(.infoflip){
	background: url('image/feicheng2.png');
    background-size: 100% 100%;
}
