html{
	color: rgba(0,0,0,0.3);
	text-shadow: white 1px 1px 1px;
	background-image: url('oxygen.jpg');
}
#system>div>div,#me,.control,.player,.popup,.card,.avatar,.avatar2,.button{
	border:1px solid #fff;
	box-shadow:0px 1px 3px rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.5);
	border-radius: 8px;
}
#paused{
	background-color: rgba(255,255,255,0.5);
}
.control{
	background: rgba(255,255,255,0.8);
}
.player.selectable,.glow{
	box-shadow:0 1px 10px rgba(0,133,255,0.3);
}
.selected{
	box-shadow:0 1px 10px rgba(255,0,0,0.3) !important;
}