html{
	color: white;
	text-shadow: black 0 0 2px;
	background: url('grid.png'),linear-gradient(#333333, #222222) fixed;
}
#system>div>div,#mebg,.control,.player,.card,.avatar,.avatar2,.button,#window>.dialog.popped,
.player.unseen .equips:not(*:empty){
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 3px 10px;
	background-image: linear-gradient(#4b4b4b, #464646);
	border-radius: 8px;
}
#window>.dialog.popped{
	border-radius: 6px;
}
.control,#system>div>div,.judges>div,.marks>div,
.player.unseen .equips:not(*:empty){
	border-radius:4px;
}
.player,#mebg{
	/*background:url('wood.png') left repeat-y,url('wood.png') right repeat-y,linear-gradient(#4b4b4b, #464646);*/
}
.player.selectable{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 133, 255, 0.8) 0 0 15px;
}
.glow{
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px, rgba(0, 133, 255, 0.8) 0 0 15px !important;
}
.glow2{
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px, rgba(10, 155, 67, 1) 0 0 15px, rgba(10, 155, 67, 1) 0 0 15px !important;
}
.selected{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(255, 0, 0, 0.8) 0 0 15px !important;
}
.card.fullskin{
	background: url('wood3.png');
}
.card{
	color: white;
}
.fire{
	color: rgb(255,119,63);
}
.thunder{
	color: rgb(117,186,255);
}
.poison{
	color: rgb(104,221,127);
}
.brown{
	color: rgb(195,161,223);
}
