html{
	color: white;
	text-shadow: black 0 0 2px;
	background: url('grid.png'),linear-gradient(#333333, #222222) fixed;
}
#system>div>div,#mebg,.control,.player,.card,.avatar,.avatar2,.button,#window>.dialog.popped,
.player.unseen .equips:not(*:empty),.menu,#splash>div,
#arena.mobile:not(.chess) .player[data-position='0'] .equips,.playerbg{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 3px 10px;
	background-image: linear-gradient(#4b4b4b, #464646);
	border-radius: 8px;
}

#window.reduce_radius #system>div>div,
#window.reduce_radius #mebg,
#window.reduce_radius .control,
#window.reduce_radius .player,
#window.reduce_radius .card,
#window.reduce_radius .avatar,
#window.reduce_radius .avatar2,
#window.reduce_radius .button,
#window.reduce_radius #window>.dialog.popped,
#window.reduce_radius .player.unseen .equips:not(*:empty),
#window.reduce_radius .menu,#splash>div,
#window.reduce_radius.mobile:not(.chess) .player[data-position='0'] .equips{
	border-radius: 4px;
}

body[data-background_color_music='blue'] #system>div>div,
body[data-background_color_music='blue'] #mebg,
body[data-background_color_music='blue'] .control,
body[data-background_color_music='blue'] .player,
body[data-background_color_music='blue'] .card,
body[data-background_color_music='blue'] .avatar,
body[data-background_color_music='blue'] .avatar2,
body[data-background_color_music='blue'] .button,
body[data-background_color_music='blue'] #window>.dialog.popped,
body[data-background_color_music='blue'] .player.unseen .equips:not(*:empty),
body[data-background_color_music='blue'] .menu,
body[data-background_color_music='blue'] #splash>div,
body[data-background_color_music='blue'] #arena.mobile:not(.chess) .player[data-position='0'] .equips{
	background-image: linear-gradient(#6c7989, #434b55);
}




/*.player.current_action{
	background-image: linear-gradient(rgba(57, 123, 4,1), rgb(48, 103, 3));
}*/
#window>.dialog.popped{
	border-radius: 6px;
}
.control,#system>div>div,.judges>div,.marks>div,
.player.unseen .equips:not(*:empty){
	border-radius:4px;
}
.player,#mebg{
	/*background:url('wood.png') left repeat-y,url('wood.png') right repeat-y,linear-gradient(#4b4b4b, #464646);*/
}
.card{
	color:white;
}
.card:not(*:empty){
	color:rgb(77, 60, 51);
	text-shadow:none;
	background: url('wood3.png');
}
.marks>.card:not(.fullskin){
	color: white;
	text-shadow: black 0 0 2px;
	background: linear-gradient(#4b4b4b, #464646);
}
#me>div>div>.card,#arena>.card:not(*:empty){
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

#system>div>.glow {
    background-image: linear-gradient(rgba(47,101,150,1), rgba(43, 90, 132,1));
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 3px 10px !important;
}

.fire{
	color: rgb(255,119,63);
}
.thunder{
	color: rgb(117,186,255);
}
.poison{
	color: rgb(104,221,127);
}
.brown{
	color: rgb(195,161,223);
}
