.hp:not(.text):not(.actcount)[data-condition="high"]>div:not(.lost){
    background: url('image/ol1.png');
    box-shadow: none;
    border: none;
    background-size: cover;
    transform: scale(1.6) rotate(180deg);
    -webkit-filter:none;
    border-radius: 0px;
}
.hp:not(.text):not(.actcount)[data-condition="mid"]>div:not(.lost){
    background: url('image/ol2.png');
    box-shadow: none;
    border: none;
    background-size: cover;
    transform: scale(1.6) rotate(180deg);
    -webkit-filter:none;
    border-radius: 0px;
}
.hp:not(.text):not(.actcount)[data-condition="low"]>div:not(.lost){
    background: url('image/ol3.png');
    box-shadow: none;
    border: none;
    background-size: cover;
    transform: scale(1.6) rotate(180deg);
    -webkit-filter:none;
    border-radius: 0px;
}
.hp:not(.text):not(.actcount)>.lost{
    background: url('image/ol4.png');
    box-shadow: none;
    border: none;
    background-size: cover;
    transform: scale(1.6) rotate(180deg);
    border-radius: 0px;
    filter:grayscale(1) opacity(0.8);
    -webkit-filter:grayscale(1) opacity(0.8);
}

#arena.oldlayout .player .hp:not(.text):not(.actcount)[data-condition="high"]>div:not(.lost){
    transform: scale(1.6);
}
#arena.oldlayout .player .hp:not(.text):not(.actcount)[data-condition="mid"]>div:not(.lost){
    transform: scale(1.6);
}
#arena.oldlayout .player .hp:not(.text):not(.actcount)[data-condition="low"]>div:not(.lost){
    transform: scale(1.6);
}
#arena.oldlayout .player .hp:not(.text):not(.actcount)>.lost{
    transform: scale(1.6);
}
