#arena.paused,#arena.unfocus,#arena.right,
#arena.menupaused,
#window.shortcutpaused>#arena{
    filter:blur(3px);
    -webkit-filter:blur(3px);
}
#arena.menupaused{
    opacity: 0.6;
}
#arena.thrownhighlight>.card.thrown:not(.thrownhighlight){
    filter:blur(2px);
    -webkit-filter:blur(2px);
}
