::-webkit-scrollbar {
	display: block;
    height:8px;
    width:8px
}

::-webkit-scrollbar:vertical {
    display: none;
}
::-webkit-scrollbar-button {
    height:0;
    width:0
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    display:block
}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
    display:none
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-style:solid;
    border-color:transparent
}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{
    background-clip:padding-box;
    background-color:#fff;
}
::-webkit-scrollbar-thumb {
    background-clip:padding-box;
    background-color:rgba(0,0,0,0.2);
    min-height:28px;
    padding-top:100;
    border-radius: 8px;
    -webkit-transition:all 0.5s;
}
::-webkit-scrollbar-thumb:hover {
    background-color:rgba(0,0,0,.4);
}
::-webkit-scrollbar-thumb:active {
    background-color:rgba(0,0,0,.5)
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-width:0;
}
::-webkit-scrollbar-track:hover {
    background-color:rgba(0,0,0,0)
}
::-webkit-scrollbar-track:active {
    background-color:rgba(0,0,0,0)
}
