#storyscene{
    height: 500px;
    top:calc(50% - 250px);
    width: 100%;
    position: absolute;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
}
#storyscene.lockscroll{
    overflow-x: hidden;
}
#storyscene>.player.scene{
    width: 350px;
    height: 420px;
    position: relative;
    left: 0;
    top:40px;
    margin-left: -40px;
    margin-right: -40px;
    z-index: 1;
    border-radius: 16px !important;
    overflow: hidden;
}
#storyscene>.player.scene.flipped{
    z-index: 2;
    border-radius: 12px !important;
}
#storyscene>.player.scene.flipped>div:not(.menu){
    display: none;
}
#storyscene>.player.scene:not(.flipped)>.menu{
    display: none;
}
#storyscene>.player.scene:first-child{
    margin-left: 50px;
}
#storyscene>.player.scene:last-child{
    margin-right: 50px;
}
#storyscene>.player.scene>.name{
    font-size: 48px;
    right: 25px;
    left: auto;
    top: auto;
    bottom: 28px;
    transform: rotateY(-180deg);
    border-radius: 16px !important;
}
#storyscene>.player.scene>.menu{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: none;
}
#storyscene>.player.scene>.avatar{
    width: calc(100% - 26px);
    height: calc(100% - 26px);
    left: 13px;
    top: 13px;
    transform: rotateY(-180deg);
}
#storyscene>.player.scene.startscene{
    -webkit-animation: scene_start 0.5s;
}

@-webkit-keyframes scene_start{
    from{
        opacity: 0;
        transform:scale(0.5);
        margin-left: -175px;
        margin-right: -175px;
    }
    to{
        opacity: 1;
        transform: scale(1);
        margin-left: 16px;
        margin-right: 16px;
    }
}
